src
node_modules
/node_modules
/coverage

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

README.md
rollup.config.js
yarn.lock
.storybook/
.babelrc
build.sh
storybook-static
src/stories
.taiga
static
scripts
.yalc
svg-full-library